@charset "UTF-8";

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;600;700;800;900&display=swap');

/* @Initialization */
*,
*::before,
*::after { margin: 0; padding: 0; border: 0; box-sizing: inherit; /*cursor: none;*/ user-select: auto;}
*, *::before, *::after { box-sizing: border-box; }

html { box-sizing: border-box; scroll-behavior: smooth; }
body { 
  min-width: 320px; 
  margin: 0; 
  padding: 0; 
  overflow-x: hidden;
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
table caption { display: none; }
ol, ul { list-style: none; }
a { text-decoration: none; transition: all 0.3s ease; }
a:hover { text-decoration: underline; }
a, a:visited { color: inherit; }
img { vertical-align: middle; max-width: 100%; }
button { transition: background-color 0.3s ease, color 0.3s ease; -webkit-tap-highlight-color: rgb(0 0 0 / 14%); font-family: inherit; appearance: none; -webkit-appearance: none; -moz-appearance: none; }
input, select, textarea { font-family: inherit; font-size: 100%; }
input:not([type="checkbox"]):not([type="radio"]) { appearance: none; -webkit-appearance: none; -moz-appearance: none; }

/* @Root */
:root {
  --common-h1: clamp(2.25rem, 3.5vw + 1.5rem, 3.25rem);
  --common-h2: clamp(2.25rem, 2.5vw + 1.5rem, 3rem);
  --common-h3: clamp(1.75rem, 1.8vw + 1.2rem, 2.5rem);
  --common-h4: clamp(1.5rem, 1.5vw + 1rem, 2rem);
  --common-h5: clamp(1.25rem, 1.2vw + 0.8rem, 1.75rem);
  --common-h6: clamp(1rem, 1vw + 0.75rem, 1.5rem);
  --common-p: clamp(1rem, 1vw + 0.75rem, 1.25rem);
  --common-small: clamp(0.875rem, 0.8vw + 0.6rem, 1.125rem);
  --common-xsmall: clamp(0.75rem, 0.7vw + 0.5rem, 1rem);
  --common-xxsmall: clamp(0.625rem, 0.6vw + 0.4rem, 0.875rem);
  --common-xxxsmall: clamp(0.625rem, 0.5vw + 0.5rem, 0.75rem);

  --main-title: clamp(2.5rem, 5vw, 3.5rem);
  --sub-title: clamp(2rem, 2.5vw + 1rem, 2.75rem);
  --lead-p: clamp(1.125rem, 0.5vw + 1rem, 1.25rem);

  --common-dark : #1F2633; 
  --common-white : #fff;
  --common-inbg :#d9d9d9;
  --common-shadow : 0 10px 30px rgba(185, 185, 185, 0.3);
  --common-font : #525252;
  --common-high :#ff4444;

  --content-inbg : #e9ecef;
  --content-font : #a2a2a2;

  --ellpsis-color: #999999;;
  --bd-half: #2c2c2c1f;

  --radius-25: 0.25rem;
  --radius-5: 0.5rem;
  --radius-75: 0.75rem;
  --radius-round :100vmax;
  
  --space-4: 1.5rem;
}
    h1 { font-size: var(--common-h1); }
    h2 { font-size: var(--common-h2); }
    h3 { font-size: var(--common-h3); }
    h4 { font-size: var(--common-h4); }
    h5 { font-size: var(--common-h5); }
    h6 { font-size: var(--common-h6); }
    p { font-size: var(--common-p); } 

    

/* @Swiper */
.swiper {overflow:hidden; position:relative;}
.swiper-wrapper {display:flex; box-sizing:content-box;}
.swiper-slide {flex-shrink:0; width:100%; height:100%;}

/* @Object-fit*/
.fit-cover {position: relative; width: 100%; height: 100%; object-fit: cover; }

/* @Logo-visible */
.visible-hidden { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

/* @Text Ellipsis */
.ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: var(--max-lines);
  line-height: 1.5;
  white-space: normal;
  word-break: break-all;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}